<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/global.css" />
        <link rel="stylesheet" href="/static/css/index.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/pdf-lib/dist/pdf-lib.min.js"></script>
        <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    </head>
    <body>
        <div class="homepage">
            <nav class="navigation">
              <div class="uniitools">UNIITOOLS</div>
              <div class="nav-items">
                  <a href="#home" class="nav-link">Home</a>
                  <div class="dropdown">
                      <a href="#tools" class="nav-link dropbtn">Tools</a>
                      <div class="dropdown-content">
                          <a href="#pdf-merger">PDF Merger</a>
                          <a href="#qr-generator">QR Code Generator</a>
                          <a href="#pdf-compressor">PDF Compressor</a>
                      </div>
                  </div>
                  <a href="#community" class="nav-link">Community</a>
              </div>
            </nav>
            <div id="home" class="section">
                <div class="content">
                    <div class="text-content">
                        <h1 class="unleash-your-digital">Unleash your digital creativity today!</h1>
                        <p class="unitools-is-a">
                            UniTools is a free, versatile, and user-friendly tool made to simplify various digital tasks. Whether you need to convert images, merge multiple PDF files, compress files, or create dynamic QR codes for easy information sharing, UniTools has you covered. With its intuitive interface and efficient functionality, this all-in-one platform enables users to effortlessly accomplish their digital needs. Save time and money by relying on UniTools for all your digital tool requirements.
                        </p>
                        <div class="button">
                            <a href="#" class="button-child">TOOLS</a>
                        </div>
                    </div>
                    <div class="image-container">
                        <img src="/static/images/bg-shape (1).png" class="content-image" alt="Your alt text here" />
                    </div>
                </div>
            </div>
            <div id="tools" class="section">
                <div id="pdf-merger" class="content">
                  <div class="text-content">
                    <h1 class="unleash-your-digital">PDF Merger</h1>
                    <p class="unitools-is-a">
                      Merge multiple PDF files into a single document with our PDF Merger. It's easy and efficient to use.
                    </p>
                    <form id="merge-pdfs-form" class="merge-pdfs-form">
                        <button id="browse-button" type="button" class="button-child button">Select PDFs</button>
                        <input id="pdfs-to-merge" type="file" multiple />
                        <input type="submit" value="Merge" class="button-child button" />
                    </form>  
                  </div>
                </div>
                <div id="qr-generator" class="content">
                    <div class="text-content">
                        <h1 class="unleash-your-digital">QR Code Generator</h1>
                        <p class="unitools-is-a">
                            Generate QR codes for quick sharing of information. With our QR Code Generator, you can easily add QR codes to your documents.

                        </p>
                        <div class="generate-qr-form">
                            <label for="text-to-encode">Enter text to encode:</label>
                            <input type="text" id="text-to-encode" name="text-to-encode">
                            <button type="submit" id="generate-qr-code">Generate QR Code</button>
                        </div>
                    
                        <!-- New div for QR code -->
                        <div id="qrcode"></div>
                    </div>
                </div>
            </div>            
        </div>
    </body>
    <script src="/static/js/pdfmerger.js"></script>
    <script src="/static/js/qrcode.js"></script>
</html>
